<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<header class="header">
  <app-header></app-header>
</header>

<div class="body-content">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div style="display: flex; align-items: center; height: 100%">
    <p class="items">&copy; ShopIt Ltd.</p>
    <p class="items"><a href="https://www.linkedin.com/in/suvam-mondal-b4204411b/" target="_blank">Contact</a></p>
  </div>
</footer>
