.items {
  flex: 1;
  text-align: center;
  color: white;
  margin: 0;
}

a {
  color: white;
}

.footer {
  background-color: gray;
  height: 8vh;
  position: fixed;
  bottom: 0;
  width: 100%
}

.header {
  position:fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.body-content {
  /*height: calc(100vh - 65px);*/
  /*min-height: 100vh;*/
 /* min-height: 100%;*/
  margin-top: 50px;
  margin-bottom: 56px;
  min-height: 100%;


}
