
<div class="list-group-item clearfix">
  <div class="pull-left item-detail-box" >
    <div class="pull-left">
      <img src="{{item.product.img}}" alt="{{item.product.name}}">
    </div>
    <div class="pull-right">
      <h2>{{ item.product.name }}</h2>

    </div>
  </div>

  <div class="pull-right controls-box">
    <div>
      <button class="btn btn-reduce" (click)="onReduceItemQuantity()">-</button>
      <h4  style="margin: 0 10px;">{{ item.quantity }}</h4>
      <button class="btn btn-increase" (click)="onIncreaseItemQuantity()">+</button>
    </div>
  </div>
</div>
