# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/e-commerce-frontend/dist
/e-commerce-frontend/tmp
/e-commerce-frontend/out-tsc
/e-commerce-frontend/bazel-out

# Node
/e-commerce-frontend/node_modules
/e-commerce-frontend/npm-debug.log
/e-commerce-frontend/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/e-commerce-frontend/.angular
/e-commerce-frontend/.angular/
/e-commerce-frontend/.angular/cache
.sass-cache/
/e-commerce-frontend/connect.lock
/e-commerce-frontend/coverage
/e-commerce-frontend/libpeerconnection.log
testem.log
/e-commerce-frontend/typings

# System files
/e-commerce-frontend/.DS_Store
/e-commerce-frontend/Thumbs.db
".angular/cached/"
"e-commerce-frontend/.angular/cached/"


/e-commerce-backend/.gradle/