<a
  routerLinkActive="active"
  [routerLink]="itemIndex"
  (click) = "onItemClick()"
  class="list-group-item clearfix custom-list-item">
  <span class="pull-left img-box">
    <img src="{{item.img}}" alt="imgText">
  </span>
  <div class="pull-right detail-box">
    <div>
      <h3 class="list-group-item-text">{{ item.name }}</h3>

      <h4><i class="fa fa-inr" aria-hidden="true"> {{ item.price }}</i></h4>
      <div style="display: flex">
        <app-star-rating [rating]="item.rating"></app-star-rating>
      </div>
    </div>
  </div>
  <br>
</a>