.custom-list-item {
  /*background-color: lightgray;*/
  border: 5px solid lightgray;
}

.custom-list-item:hover {
 /* background-color: greenyellow;*/
  border : 5px solid greenyellow;
}

.img-box {
  width: 30%
}

.img-box img {
  height: 200px;
  width: 200px;
}

.detail-box {
  width: 70%
}
