<div class="form-group form-center">
  <form class="form-group" [formGroup]="paymentForm" (ngSubmit)="onConfirmPay()">

    <label for="ccId">Card No.</label>
    <input id="ccId" type="text" class="form-control" [formControlName]="'ccNo'">

    <br>

    <div class="row div-center">
        <label for="ccExpDate">Card Expiry Date</label>
        <input id="ccExpDate" type="text" class="form-control" [formControlName]="'ccExpDate'" >

        <label for="ccCvv">CVV:</label>
        <input id="ccCvv" type="text" class="form-control" [formControlName]="'ccCvv'">
    </div>
    <br>
    <div class="btn-block">
      <button type="submit" class="btn btn-success" style="text-align: center; width: 100px">Pay</button>
    </div>
  </form>
</div>
