.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 106px);


}

.center-screen form {
  text-align: left;
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: gray;
  color: white;

}

.center-screen form button {
  background-color: greenyellow;
  color: black;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.error  {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(196, 88, 88);
  color: white;
}
