<div class="form-group center-screen">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form-group">
    <h2 class="">Login</h2>
    <br>

    <label id="email">E-mail:</label> <input [formControlName]="'email'" class="form-control" type="email"
                                               style="width: 100%">
    <label id="pwd">Password:</label> <input [formControlName]="'pwd'" class="form-control" type="password"
                                               style="width: 100%">
    <br>
    <button type="submit" class="btn btn-primary">Login</button>

  </form>
</div>
