<a
  routerLinkActive="active"
  [routerLink]="itemIndex"
  class="list-group-item clearfix custom-list-item">
  <span class="pull-left" style="width: 30%">
    <img src="{{item.img}}" alt="imgText" style="height: 200px; background-color: transparent">
  </span>
  <div class="pull-right" style="width: 70%; margin-top: 50px">
    <div>
      <h3 class="list-group-item-heading">{{ item.name }}</h3>
      <br>
      <h4 class="list-group-item-text"> INR {{ item.price }}</h4>
    </div>
  </div>
</a>
