<div class="container clearfix">
  <h3>Order ID: {{ orderItem.orderId }}</h3>
  <hr>
  <ul *ngFor="let i of orderItem.orderList">
    <li class="list-group-item-text" style="list-style: square"><strong>Item Name:</strong> {{ i.product.name }} | <strong>Quantity:</strong> {{ i.quantity }}</li>
  </ul>
  <hr>
  <div>
    <p><strong>Registered Email:</strong> {{ orderItem.paymentInfo.registeredEmail }}</p>
    <p><strong>Payment Type:</strong> {{ orderItem.paymentInfo.paymentType | uppercase }}</p>
    <p><strong>Card Number:</strong> {{ orderItem.paymentInfo.paymentCardNumber }}</p>
    <p><strong>Payment Status:</strong> {{ orderItem.paymentInfo.paymentStatus | uppercase}}</p>
  </div>
</div>
