<div>
  <div *ngIf="shouldDisplayAsList">
      <app-product-list-item
        *ngFor="let item of productList | sort:sortItemsBy ; let itemIndex = index"
        [itemIndex]="itemIndex"
        [item]="item">
      </app-product-list-item>
  </div>

  <div *ngIf="!shouldDisplayAsList"
       style="display: grid; grid-template-columns: repeat(4, 1fr);gap: 50px; padding: 20px">

    <app-grid
      *ngFor="let item of productList | sort:sortItemsBy ; let itemIndex = index"
      [itemIndex]="itemIndex"
      [item]="item">
    </app-grid>

  </div>
</div>
