<div>
  <div class="container">
    <div class="pull-left img-div">
      <img src="{{itemData.img}}" alt="{{itemData.name}}">
    </div>
    <div class="details-div">
      <h1>{{ itemData.name }}</h1>
      <br>
      <h4>INR {{ itemData.price }}</h4>

      <div class="container">
        <table>
          <tr>
            <td>
              <button class="btn" (click)="onAddToCart()">Add to Cart</button>
            </td>
            <div *ngIf="shouldDisplayItemControls">
              <td>
                <button class="btn" (click)="removeItem()">-</button>
              </td>
              <td><h4>{{ quantity }}</h4></td>
              <td>
                <button class="btn" (click)="addItem()">+</button>
              </td>
            </div>
          </tr>
        </table>

      </div>
    </div>

    <div >
      <app-hero-container [item]="i" ></app-hero-container>
    </div>


  </div>
</div>
