button {
  background-color: greenyellow;
  width: 100px;
  color: black;
}

button click {
  background-color: red;
}

td {
  padding-right: 10px
}

.img-div {
  width: 40%;
}

.img-div img {
  height: 400px;
}

.details-div {
  flex: 1;
  padding: 10px;
}
