
.text-color {
  color: white;
}

li.active a {
  background-color: greenyellow !important;
  color: black;
}

li a {
  color: white;
  text-decoration: none;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
}


.search-div {
  width: 40%;
  margin-left: 10%;
}

.search-div input {
  width: 80%;
  border-radius: 20px;
  padding-inline: 10px;
  outline: none;
  border: none;
}


.search-div img {
  height: 25px;
}

.search-div button {
  background-color: transparent;
  border: none;
}


.right-menu {


}





